@using IT_Hardware.Areas.Admin.Models

@model IList<Mod_Budget>

@{
    ViewBag.Title = "Index";
}


<link href="~/CSS/SearchBox/searchbox.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>


<div style="   text-align: center; height: 50px; align-content: center; width: 100% " class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">

    <p style="font-size:large; font-weight:bold;">List of Budget Head</p>

</div>

<div style=" align-content:center; width:100%" class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">
    <table class=" table-hover table-striped shadow " style="width:100%">
        <tr>
            <td width="75%">

                <div class="col-rt-3 equal-height">
                    <div class="sb-example-3">
                        <!-- partial:index.partial.html -->
                        <div class="search__container">

                            <input class="search__input" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>


            </td>
            <td align="right" width="25%">
                <h4>
                    @Html.ActionLink("Add New", "Budget_Head_Create_Item", "Budget_Head")

                </h4>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                </br>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width:100%">
                    <tr>
                        <th style="text-align: center; width: 60%;">
                            Budget Head Name
                        </th>
                        <th style="text-align: right; width: 12%;">
                            Total Budget Approved
                        </th>
                        <th style="text-align: right; width: 11%;">
                            Uses for  <br> Budget
                        </th>
                        <th style="text-align: right; width: 11%;">
                            Payment <br> Processed
                        </th>
                        <th style="text-align: center; width: 6%; vertical-align: text-top;"> Action  </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: left;">
                                @Html.DisplayFor(modelItem => item.Budget_Name)
                            </td>
                            <td style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Total_Budget_Amount)
                            </td>
                             <td style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Utilized_for_Budget)
                            </td>
                             <td style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Utilized_for_Payment)
                            </td>
                            <td style="text-align: center;">
                                @Html.ActionLink("Edit", "Edit_Budget_Head", new { id = item.Budget_Head_Id }) 
                            </td>
                        </tr>
                    }

                </table>

            </td>

        </tr>

    </table>
</div>

<script type="text/javascript">
    function ShowSuccessMsg() {
        toastr.success("Successfully Added.");
    };
    function ShowFailure(Msg) {
        toastr.error("Error:" + Msg);
    };
</script>
@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}



@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Message"]");
        };
    </script>

}

