@model IT_Hardware.Areas.Admin.Models.Mod_Bulk_Amc_Update

@{
    ViewBag.Title = "Find_Warranty_Expired";
}

<link href="~/CSS/SearchBox/searchbox.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/js/commonjs.js"></script>
<link href="~/css/commoncssclass.css" rel="stylesheet" />



<div style=" align-content:center; width:100%" class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">

    @using (Html.BeginForm("Update_Bulk_AMC_Data", "IT_Hardware_AMC", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <table class=" table-hover table-striped shadow " style="width:100%">
            <tr>
                <td style="text-align:left; width:25%;">
                    <a href="@Url.Action("Amc_DashBoard", null, new { area = string.Empty, controller = "IT_Hardware_AMC", Types = "Laptop" })">
                        Back
                    </a>
                </td>
                <td style="text-align: center; width: 50%;">

                    <h4>Bulk Amc Update for  @ViewBag.Assettype </h4>

                </td>
                <td style="text-align: right; width: 25%;">
                    <button class="button_cls form-rounded" onclick="return confirm('Are you sure to update the AMC data for the selected Items?');">Submit</button>

                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:20px;">
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:20px;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:25%;">
                                Select Updated Vendor
                            </td>
                            <td colspan="3" style="width:75%;">
                                @Html.DropDownListFor(x => x.Updated_AMC_Vendor_Id, Model.Vendor_List, new { @class = " form-rounded", @style = " width :100%; " })
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                Updated AMC Start Date
                            </td>
                            <td style="width:25%;">
                                @Html.TextBoxFor(x => x.Updated_AMC_Start_DT, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded", @style = " width :80%; " })
                            </td>
                            <td style="width:25%;">
                                Updated AMC End Date
                            </td>
                            <td style="width:25%;">
                                @Html.TextBoxFor(x => x.Updated_AMC_End_DT, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded", @style = " width :80%; " })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:20px;">
                </td>
            </tr>
            <tr>

                <td colspan="3">
                    <table style="width:100%">

                        <tr>
                            <th style="width:10%;">

                            </th>
                            <th style="width:20%;">
                                Employee Name
                            </th>
                            <th style="width:20%;">
                                Designation
                            </th>
                            <th style="width:10%;">
                                Serial Number
                            </th>
                            <th style="width:20%;">
                                Vendor Name
                            </th>
                            <th style="width: 10%; text-align: right">
                                Amc Start Date
                            </th>
                            <th style="width:10%; text-align:right">
                                Amc End Date
                            </th>



                        </tr>

                        @for (int i = 0; i < Model.list_data.Count; i++)
                        {
                            <tr>
                                <td style="text-align:center">
                                    @Html.CheckBoxFor(modelItem => Model.list_data[i].Update_Flag)
                                </td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => Model.list_data[i].Emp_Name)
                                </td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => Model.list_data[i].Designation)
                                </td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => Model.list_data[i].Item_SlNo)
                                    @Html.HiddenFor(modelItem => Model.list_data[i].Item_Id)
                                </td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => Model.list_data[i].Present_Vendor_Name)
                                    @Html.HiddenFor(modelItem => Model.list_data[i].Present_Vendor_Id)

                                </td>
                                <td style="text-align: right">
                                    @Html.DisplayFor(modelItem => Model.list_data[i].AMC_Start_DT, "{0:dd/MM/yyyy}")
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => Model.list_data[i].AMC_end_DT, "{0:dd/MM/yyyy}")
                                </td>

                            </tr>
                        }

                    </table>

                </td>

            </tr>

        </table>

    }
</div>




@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>
}

<!-----------------------------------Modal PopUp------------------------------------------------------->
