@model IT_Hardware.Areas.Admin.Models.Mod_SLA


@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/CSS/Final_Submit_Button.css" rel="stylesheet" />




<script type="text/javascript">
    var isShift = false;
    var seperator = "/";
    window.onload = function () {
        //Reference the Table.
        var tblForm = document.getElementById("tblForm");

        //Reference all INPUT elements in the Table.
        var inputs = document.getElementsByTagName("input");

        //Loop through all INPUT elements.
        for (var i = 0; i < inputs.length; i++) {
            //Check whether the INPUT element is TextBox.
            if (inputs[i].type == "text") {
                //Check whether Date Format Validation is required.
                if (inputs[i].className.indexOf("date-format") > 0) {

                    //Set Max Length.
                    inputs[i].setAttribute("maxlength", 10);

                    //Only allow Numeric Keys.
                    inputs[i].onkeydown = function (e) {
                        return IsNumeric(this, e.keyCode);
                    };

                    //Validate Date as User types.
                    inputs[i].onkeyup = function (e) {
                        ValidateDateFormat(this, e.keyCode);
                    };
                }
            }
        }
    };

    function IsNumeric(input, keyCode) {
        if (keyCode == 16) {
            isShift = true;
        }
        //Allow only Numeric Keys.
        if (((keyCode >= 48 && keyCode <= 57) || keyCode == 8 || keyCode <= 37 || keyCode <= 39 || (keyCode >= 96 && keyCode <= 105)) && isShift == false) {
            if ((input.value.length == 2 || input.value.length == 5) && keyCode != 8) {
                input.value += seperator;
            }

            return true;
        }
        else {
            return false;
        }
    };

    function ValidateDateFormat(input, keyCode) {
        var dateString = input.value;
        if (keyCode == 16) {
            isShift = false;
        }
        var regex = /(((0|1)[0-9]|2[0-9]|3[0-1])\/(0[1-9]|1[0-2])\/((19|20)\d\d))$/;

        //Check whether valid dd/MM/yyyy Date Format.
        if (regex.test(dateString) || dateString.length == 0) {
            ShowHideError(input, "none");
        } else {
            ShowHideError(input, "block");
        }
    };

    function ShowHideError(textbox, display) {
        var row = textbox.parentNode.parentNode;
        var errorMsg = row.getElementsByTagName("span")[0];
        if (errorMsg != null) {
            errorMsg.style.display = display;
        }
    };
</script>


<script>
    $(function () {
        $(".dateclass").datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat: 'dd/mm/yy',
            minDate: new Date('01/01/1900'),
            maxDate: '+10Y'
        });
    });
</script>


<style type="text/css">

    @@import "compass/css3";

    input[type=text], textarea {
        @@include transition(all 0.30s ease-in-out);
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
    }

        input[type=text]:focus, textarea:focus {
            @@include box-shadow(0 0 5px rgba(81, 203, 238, 1));
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgba(81, 203, 238, 1);
        }
</style>


<style type="text/css">



    .btn_download {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        vertical-align: middle;
        border: 1px solid;
        border-radius: 6px;
        color: #ffffff;
        background-color: #2ea44f;
        border-color: #1b1f2326;
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
        transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        transition-property: color, background-color, border-color;
    }

        .btn_download:hover {
            background-color: rgb(155 221 30 / 0.73);
            border-color: #1b1f2326;
            transition-duration: 0.1s;
        }




    .btn_delete {
        display: inline-block;
        outline: 0;
        cursor: pointer;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        vertical-align: middle;
        border: 1px solid;
        border-radius: 6px;
        color: #000000;
        background-color: #f59191;
        border-color: #1b1f2326;
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
        transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        transition-property: color, background-color, border-color;
    }

        .btn_delete:hover {
            background-color: #f70c0c;
            border-color: #1b1f2326;
            transition-duration: 0.1s;
        }
</style>

<div style=" margin-top: -50px;  text-align: center; height: 50px; align-content: center; width: 100% " class="card w-100 shadow p-3 mb-5 bg-white rounded">

    <p style="font-size:large; padding-top:-5px; font-weight:400;">Edit SLA</p>

</div>

<div style=" align-content:center; width:100%" class="card w-100 shadow p-3 mb-5 bg-white rounded">


    @using (Html.BeginForm("Update_SLA", "SLA", FormMethod.Post))
    {

        <table class=" table-hover table-striped shadow " style="width:100%">

            <tr>
                <td style="width:25%; height:50px;">
                    Vendor Name
                    @Html.HiddenFor(x => x.SLA_Id)
                </td>
                <td style="width:75%;" colspan="3">

                    @Html.DropDownListFor(x => x.Vendor_id, Model.Vendor_List, new { @class = " form-rounded", @style = " width :60%; " })

                </td>

            </tr>
            <tr>

                <td style="width:25%;">
                    Service Type Overview
                </td>
                <td style="width:75%;" colspan="3">

                    @Html.TextBoxFor(x => x.Service_Type_Short, new { @class = " form-rounded", @style = " width :90%; " })

                </td>
            </tr>
            <tr>
                <td style="width:25%;">
                    Service Start Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.Service_ST_DT, new { @class = "dateclass form-rounded date-format", @style = " width :80%; " })
                </td>

                <td style="width:25%;">
                    Expiry Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.Expiry_DT, new { @class = "dateclass form-rounded date-format", @style = " width :80%; " })
                </td>

            </tr>


            <tr style=" height: 50px; ">


                <td align="left" style="width:25%; "> Upload File</td>

                <td style="width: 75%;" colspan="3">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width:100%;" colspan="3">
                                <input type="file" name="postedFile" id="FileUpload_Id" />
                                <input type="submit" id="btnFileUpload" class="btn_download" value="Upload" />
                                <progress id="fileProgress" style="display: none"></progress>
                                <span id="lblMessage" style="color: Green"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3" style="height:10px;"></td></tr>
                        <tr>
                            <td>
                                <table id="Files_Grid" style="width:100%;">
                                    <tr>
                                        <td style="width:50%; font-weight:bold">File Name</td>
                                        <td style="width: 25%; font-weight: bold"> Download</td>
                                        <td style="width: 25%; font-weight: bold"> Delete</td>
                                    </tr>

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(x => x.SLA_File_Name )
                                            </td>
                                            <td>
                                            <input type='submit' value='Download' class='cssdownload btn_download' id='@Model.SLA_File_Name' />
                                            </td>
                                            <td>
                                            <input type='submit' class='appDetails btn_delete' id='@Model.SLA_File_Name' value='Delete' />
                                            </td>

                                        </tr>
                                    

                                </table>
                            </td>

                        </tr>

                    </table>



                </td>
            </tr>


            <tr>
                <td style="width:25%;">
                    Service Type in Details
                </td>
                <td style="width:75%; " colspan="3">
                    @Html.TextAreaFor(x => x.Service_Type_Details, 5, 1, new { @style = " width :100%; " })
                </td>
            </tr>

            <tr>
                <td style="width:25%;">
                    Remarks
                </td>
                <td style="width:75%; " colspan="3">
                    @Html.TextAreaFor(x => x.Remarks, 2, 1, new { @style = " width :100%; " })
                </td>
            </tr>

            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>
            <tr style=" height: 50px; ">
                <td align="left" style="width:25%; "></td>

                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    <button class="button_cls form-rounded">Submit</button>

                </td>

                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    @Html.ActionLink("Back", "SLA_Details", "SLA", null, new { @class = "button_cls form-rounded", })
                </td>

                <td align="left" style="width:25%;"></td>
            </tr>

        </table>

    }
</div>


@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>

}



<script type="text/javascript">
    $(function () {


        $('#Item_Make_id').change(function () {

            $.ajax({
                type: "POST",
                url: "/Admin/SLA/Model_List",
                datatype: "Json",
                data: { Item_Make: $('#Item_Make_id').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#Item_Model_id').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                    });
                }

            });

        });
    });
</script>




@*------------------------------------ File Function--------------------------------------------------------------*@


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<script src="~/customjs/edit_sla.js"></script>

@* 

<script type="text/javascript">
    $(function () {

        $('#btnFileUpload').click(function (event) {


            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload_Id").get(0);
                var files = fileUpload.files;

                var fileRefId = $("#SLA_Id").val();

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                fileData.append('SLA_Id', fileRefId);

                $.ajax({
                    type: "POST",
                    url: "/Admin/SLA/FiliUpload",
                    datatype: "Json",
                    data: fileData,
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    success: function (response) {

                        $("#Files_Grid tr").remove();

                        markup = "<tr><th style='width: 50%;'> File Name </th> <th style='width: 25%;'> Download </th> <th style='width: 25%; text-align: center'> Delete </th> </tr>";
                        tableBody = $("#Files_Grid tbody");
                        tableBody.append(markup);


                        if (response != null) {

                            $.each(response, function (key, val) {

                                markup = "<tr><td> " + val.File_Name + " </td> " +
                                    "<td>  <input type='submit' value='Download' class='cssdownload btn_download' id='" + val.File_Id + "' > </input> </td> " +
                                    "<td style=' text-align: center'>  <input type='submit' class='appDetails btn_delete' id='" + val.File_Id + "' value='Delete' > </input> </td></tr> "

                                tableBody = $("#Files_Grid tbody");
                                tableBody.append(markup);

                            });
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }

                });
            }

            event.preventDefault();

        });
    });
</script>


<script type="text/javascript">
    $(function () {

        $(document).on("click", ".appDetails", function () {
            var clickedBtnID = $(this).attr('id');

            var fileRefId = $("#SLA_Id").val();

            if (confirm('Are you sure you want to delete this?')) {

                $.ajax({
                    type: "POST",
                    url: "/Admin/SLA/DeleteFile",
                    datatype: "Json",
                    data: { FileId: clickedBtnID, RefId: fileRefId },
                    success: function (response) {


                        $("#Files_Grid tr").remove();

                        markup = "<tr><th style='width: 50%;'> File Name </th> <th style='width: 25%;'> Download </th> <th style='width: 25%; text-align: center'> Delete </th> </tr>";
                        tableBody = $("#Files_Grid tbody");
                        tableBody.append(markup);


                        if (response != null) {

                            $.each(response, function (key, val) {

                                markup = "<tr><td> " + val.File_Name + " </td> " +
                                    "<td>  <input type='submit' value='Download' class='cssdownload btn_download' id='" + val.File_Id + "' > </input> </td> " +
                                    "<td style=' text-align: center'>  <input type='submit' class='appDetails btn_delete' id='" + val.File_Id + "' value='Delete' > </input> </td></tr> "

                                tableBody = $("#Files_Grid tbody");
                                tableBody.append(markup);

                            });
                        }


                    },
                    error: function (err) {
                        alert(err.statusText);
                    }

                });

            }

            event.preventDefault();

        });
    });
</script>


<script type="text/javascript">
    $(document).on("click", ".cssdownload", function () {
        var fileName = $(this).attr('id');


        window.location.href = "/Admin/SLA/Download?fileId=" + fileName + "";


        event.preventDefault();
    });



</script>
 *@

@*---------------------------------------------------------------------------------------------------------------*@


































