

@model IT_Hardware.Areas.Admin.Models.Mod_SLA


@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="~/CSS/Final_Submit_Button.css" rel="stylesheet" />

<script src="~/js/commonjs.js"></script>
<link href="~/css/commoncssclass.css" rel="stylesheet" />

<div style="   text-align: center; height: 50px; align-content: center; width: 100% " class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">

    <p style="font-size:large; font-weight:bold;">Enter new SLA</p>

</div>

<div style=" align-content:center; width:100%" class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">


    @using (Html.BeginForm("SLA_CreateItem_Post", "SLA", FormMethod.Post, new { encType = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        <table class=" table-hover table-striped shadow " style="width:100%">

            <tr>
                <td style="width:25%; height:50px;">
                    Purchase Order
                </td>
                <td style="width:75%;" colspan="3">

                    @Html.DropDownListFor(x => x.PO_id, Model.PO_List, new { @class = " form-rounded", @style = " width :60%; " })
                </td>

            </tr>
            <tr>

                <td style="width:25%;">
                    Service Type Overview
                </td>
                <td style="width:75%;" colspan="3">

                    @Html.TextBoxFor(x => x.Service_Type_Short, new { @class = " form-rounded", @style = " width :90%; " })

                </td>
            </tr>
            <tr>
                <td style="width:25%;">
                    Service Start Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.Service_ST_DT, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded  date-format", @style = " width :80%; " })
                </td>

                <td style="width:25%;">
                    Expiry Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.Expiry_DT, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded date-format", @style = " width :80%; " })
                </td>

              
            </tr>
            <tr>
                <td style="width: 25%; height: 50px;">
                    Upload Related Files
                </td>
                <td style="width:75%;" colspan="3">
                    <input id="SLA_File" type="file"
                           name="SLA_File" />                  
                </td>
            </tr>

            <tr>
                <td style="width:25%;">
                    Service Type Details
                </td>
                <td style="width:75%; " colspan="3">
                    @Html.TextAreaFor(x => x.Service_Type_Details, 8, 1, new { @style = " width :100%; " })
                </td>
            </tr>

            <tr>
                <td style="width:25%;">
                    Remarks
                </td>
                <td style="width:75%; " colspan="3">
                    @Html.TextAreaFor(x => x.Remarks, 2, 1, new { @style = " width :100%; " })
                </td>
            </tr>

            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>
            <tr style=" height: 50px; ">
                <td align="left" style="width:25%; "></td>
 
                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    <button class="button_cls form-rounded">Submit</button>

                </td>

                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    @Html.ActionLink("Back", "SLA_Details", "SLA", null, new { @class = "button_cls form-rounded", })
                </td>

                <td align="left" style="width:25%;"></td>
            </tr>
        </table>


    }
</div>



@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>

}


<script type="text/javascript">
    $(function () {


        $('#Item_Make_id').change(function () {
            $('#Item_Model_id').empty();

            $.ajax({
                type: "POST",
                url:  "@Url.Action("Model_List", "SLA")",
                datatype: "Json",
                data: { Item_Make: $('#Item_Make_id').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#Item_Model_id').append('<option value="' + value.value + '">' + value.text + '</option>');
                    });
                }

            });

        });
    });
</script>

