@using IT_Hardware.Controllers
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IT_Hardware.Areas.Admin.Models.Proposal_details


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
<link href="~/css/commoncssclass.css" rel="stylesheet" />
<script src="~/customjs/commonjs.js"></script>


<div style="   text-align: center; height: 50px; align-content: center; width: 100% " class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">
    <p style="font-size:large; font-weight:bold;">Update Status of Proposal</p>
</div>

<div style=" align-content:center; width:100%" class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">


    @using (Html.BeginForm("Update_proposal", "Admin_Dashboard", FormMethod.Post))
    {

        <table class=" table-hover table-striped shadow " style="width:100%">
            <tr>
                <td style="width:20%; ">
                    Utilization Details
                    @Html.HiddenFor(X => X.Proposal_Id)
                </td>
                <td style="width:80%;" colspan="3">
                    @Html.TextAreaFor(x => x.Utilization_Details, new { @style = " width :100%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%;">
                    Dte. Of IT Remarks
                </td>
                <td style="width:80%;" colspan="3">
                    @Html.TextAreaFor(x => x.Dte_IT_Remarks, new { @style = " width :100%; " })
                </td>
            </tr>
            <tr>
                <td style="width: 20%; ">
                    Dte. of F&A Remarks
                </td>
                <td style="width: 80%;" colspan="3">
                    @Html.TextAreaFor(x => x.FA_Remarks, new { @style = " width :100%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%;">
                    Dte. of Purchase Remarks
                </td>
                <td style="width:80%; " colspan="3">
                    @Html.TextAreaFor(x => x.Purchase_Remarks, new { @style = " width :100%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%;">
                    Remarks of Secretary Office
                </td>
                <td style="width:80%; " colspan="3">
                    @Html.TextAreaFor(x => x.Sec_Office_Remarks, new { @style = " width :100%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%;">
                    Remarks of Other Directorate
                </td>
                <td style="width:80%; " colspan="3">
                    @Html.TextAreaFor(x => x.Other_Dept_Remarks, new { @style = " width :100%; " })
                </td>
            </tr>

            <tr style=" height: 50px; ">

                <td align="left" style="width:25%; "> Upload File</td>

                <td style="width: 75%;" colspan="3">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width:100%;" colspan="3">
                                <input type="file" name="postedFile" id="FileUpload_Id" />
                                <input type="submit" id="btnFileUpload" class="btn_download" value="Upload" />
                                <progress id="fileProgress" style="display: none"></progress>
                                <span id="lblMessage" style="color: Green"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3" style="height:10px;"></td></tr>
                        <tr>
                            <td>
                                <table id="Files_Grid" style="width:100%;">
                                    <tr>
                                        <td style="width:50%; font-weight:bold">File Name</td>
                                        <td style="width: 25%; font-weight: bold"> Download</td>
                                        <td style="width: 25%; font-weight: bold"> Delete</td>
                                    </tr>

                                    @foreach (var item in Model.Prop_Files)
                                    {
                                        <tr>
                                            <td class='filename'>
                                                <p>@Html.DisplayFor(modelItem => item.File_Name)</p>
                                            </td>
                                            <td>
                                                <input type='submit' value='Download' class='cssdownload btn_download' id='@item.File_Id' />
                                            </td>
                                            <td>
                                                <input type='submit' class='appDetails btn_delete' id='@item.File_Id' value='Delete' />
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>
            <tr style=" height: 50px; ">
                <td>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                Completed
                            </td>
                            <td align="center" style="text-align:center; align-items:center">
                                @Html.CheckBoxFor(x => x.Status, new { @style = " width :100%; " })
                            </td>
                            <td style="width:20%">
                            </td>
                        </tr>
                    </table>

                </td>
                <td colspan="3" style="align-self:center" align="center">
                    <table class="table-striped shadow" style="width:100%;">
                        <tr>
                            <td align="left" style="width:25%; "></td>

                            <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                                <button class="button_cls form-rounded">Submit</button>

                            </td>

                            <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                                @Html.ActionLink("Back", "Admin_Dashboard", "Admin_Dashboard", null, new { @class = "button_cls form-rounded", })
                            </td>

                            <td align="left" style="width:25%;"></td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>

    }
</div>


@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>

}



<script type="text/javascript">
    $(function () {

        $('#Item_Make_id').change(function () {
            $('#Item_Model_id').empty();

            $.ajax({
                type: "POST",
                url: "/Computer/Model_List",
                datatype: "Json",
                data: { Item_Make: $('#Item_Make_id').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#Item_Model_id').append('<option value="' + value.value + '">' + value.text + '</option>');
                    });
                }
            });
        });
    });
</script>



@*------------------------------------ File Function--------------------------------------------------------------*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<script type="text/javascript">
    $(function () {

        $('#btnFileUpload').click(function (event) {


            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload_Id").get(0);
                var files = fileUpload.files;

                var fileRefId = $("#Proposal_Id").val();

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                fileData.append('Proposal_Id', fileRefId);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FiliUpload", "Admin_Dashboard")",
                    datatype: "Json",
                    data: fileData,
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    success: function (response) {
                        if (response.key == '') {
                            alert('');
                        }
                        else {
                            $("#Files_Grid tr").remove();
                            markup = "<tr><th style='width: 50%;'> File Name </th> <th style='width: 25%;'> Download </th> <th style='width: 25%; text-align: center'> Delete </th> </tr>";
                            tableBody = $("#Files_Grid tbody");
                            tableBody.append(markup);

                            if (response != null) {
                                $.each(response, function (key, val) {
                                    markup = "<tr><td class='filename'> " + val.file_Name + " </td> " +
                                        "<td>  <input type='submit' value='Download' class='cssdownload btn_download' id='" + val.file_Id + "' > </input> </td> " +
                                        "<td style=' text-align: center'>  <input type='submit' class='appDetails btn_delete' id='" + val.file_Id + "' value='Delete' > </input> </td></tr> "

                                    tableBody = $("#Files_Grid tbody");
                                    tableBody.append(markup);
                                });
                            }
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
            event.preventDefault();
        });
    });
</script>


<script type="text/javascript">
    $(function () {

        $(document).on("click", ".appDetails", function () {
            var clickedBtnID = $(this).attr('id');

            var fileRefId = $("#Proposal_Id").val();

            if (confirm('Are you sure you want to delete this?')) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteFile", "Admin_Dashboard")",
                    datatype: "Json",
                    data: { FileId: clickedBtnID, RefId: fileRefId },
                    success: function (response) {


                        $("#Files_Grid tr").remove();

                        markup = "<tr><th style='width: 50%;'> File Name </th> <th style='width: 25%;'> Download </th> <th style='width: 25%; text-align: center'> Delete </th> </tr>";
                        tableBody = $("#Files_Grid tbody");
                        tableBody.append(markup);


                        if (response != null) {

                            $.each(response, function (key, val) {

                                markup = "<tr><td> " + val.File_Name + " </td> " +
                                    "<td>  <input type='submit' value='Download' class='cssdownload btn_download' id='" + val.File_Id + "' > </input> </td> " +
                                    "<td style=' text-align: center'>  <input type='submit' class='appDetails btn_delete' id='" + val.File_Id + "' value='Delete' > </input> </td></tr> "

                                tableBody = $("#Files_Grid tbody");
                                tableBody.append(markup);

                            });
                        }


                    },
                    error: function (err) {
                        alert(err.statusText);
                    }

                });

            

            event.preventDefault();

        });
    });
</script>


<script type="text/javascript">
    $(document).on("click", ".cssdownload", function () {
        
        var fileID = $(this).attr('id');
        var FileName = $(this).closest("tr")   // Finds the closest row <tr>
                       .find(".filename")
                       .find("p")
                       .text();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Download", "Admin_Dashboard")",
            data: { fileName: fileID },
            success: function (r) {
                //Convert Base64 string to Byte Array.
                var bytes = Base64ToBytes(r);

                //Convert Byte Array to BLOB.
                var blob = new Blob([bytes], { type: "application/octetstream" });

                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, FileName);
                }
                else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = $("<a />");
                    a.attr("download", FileName);
                    a.attr("href", link);
                    $("body").append(a);
                    a[0].click();
                    $("body").remove(a);
                }
            }
        });

        event.preventDefault();

    });

    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

</script>

@*---------------------------------------------------------------------------------------------------------------*@


