@model IT_Hardware.Areas.Admin.Models.Invoice_Mod

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="~/css/commoncssclass.css" rel="stylesheet" />
<script src="~/js/commonjs.js"></script>


<div style=" text-align: center; align-content: center; width: 100% " class=" h-10 w-100 shadow p-1 mb-1 bg-white rounded">
    <p style="font-size:large; font-weight:400;">Edit Invoice</p>
</div>

<div style=" align-content:center; width:100%" class=" h-10 w-100 shadow p-1 mb-1 bg-white rounded">


    @using (Html.BeginForm("Update_Invoice", "Invoice", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        <table class=" table-hover table-striped shadow " style="width:100%">
            <tr>
                <td style="width:20%; ">
                    Invoice No.
                    @Html.HiddenFor(x => x.Invoice_id)
                </td>
                <td style="width:30%;">
                    @Html.TextBoxFor(x => x.Invoice_No, new { @class = " form-rounded", @style = " width :90%; " })
                </td>
                <td style="width:20%;">
                    Invoice Date
                </td>
                <td style="width:30%;">
                    @Html.TextBoxFor(x => x.Invoice_Date, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded", @style = " width :90%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%; "> 
                    Subject
                </td>
                <td style="width:80%;" colspan="3">
                    @Html.TextAreaFor(x => x.Invoice_Subject, new { @rows = "2", @style = " width :95%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%; height:50px;">
                    Purchase Order
                </td>
                <td style="width:80%;" colspan="3">
                    @Html.DropDownListFor(x => x.PO_Id, Model.PO_list, new { @class = "form-rounded", @style = " width :90%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%; height:50px;">
                    Invoice Value
                </td>
                <td style="width:30%;">
                    @Html.TextBoxFor(x => x.Invoice_Value, new { @class = "form-rounded", @style = " width :90%; " })
                </td>
           
                <td style="width:20%; height:50px;">
                    Penalty Amount
                </td>
                <td style="width:30%;">
                    @Html.TextBoxFor(x => x.Penalty_Amount, new { @class = " form-rounded", @style = " width :95%; " })
                </td>
            </tr>
            <tr>
                <td style="width:20%;">
                    Penalty Reason
                </td>
                <td style="width:80%;" colspan="3">
                    @Html.TextAreaFor(x => x.Penalty_Reason, new { @rows = "2", @style = " width :96%; " })
                </td>
            </tr>


            <tr>
                <td>File Details</td>
                <td colspan="3">
                    @{
                        if (Model.FileId_Invoice != string.Empty)
                        {
                            <table id="Files_Grid" style="width:100%;">
                                <tr>
                                    <td style="width:50%; font-weight:bold">File Id</td>
                                    <td style="width:50%; font-weight:bold">File Name</td>
                                    <td style="width: 25%; font-weight: bold"> Download</td>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => x.FileId_Invoice)
                                    </td>
                                    <td>
                                        <div id="abcdefgh">
                                            @Html.DisplayFor(x => x.FileName_Invoice)
                                        </div>
                                    </td>
                                    <td>
                                        <input type='submit' value='Download' class='cssdownload btn_download' id='@Model.FileId_Invoice' />
                                    </td>
                                </tr>

                            </table>
                        }
                    }
                </td>

            </tr>
            <tr>
                <td colspan="4">
                    <br />
                </td>
            </tr>

           
           @*  <tr style=" height: 50px; ">
                <td align="left" style="width:25%; "> Invoice File</td>
                <td style="width: 75%;" colspan="3">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <table id="Files_Grid" style="width:100%;">
                                    <tr>
                                        <td style="width:70%; font-weight:bold">File Name
                                            <input type="hidden" id="FileType" value="0" />
                                        </td>
                                        <td style="width: 30%; font-weight: bold"> Action</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="abcdefgh">
                                                @Html.DisplayFor(x => x.FileName_Invoice)
                                            </div>
                                        </td>
                                        <td>                                            
                                            <a href="#" id="fileDnld" onclick="DownloadFile('@Model.FileName_Invoice')"> Downlaod </a> |
                                            <a href="#" data-whatever="Inv" id="fileReplace" data-toggle="modal" data-target="#exampleModal">Replace</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr> *@


            <tr>
                <td style="width:25%;">
                    Remarks
                </td>
                <td style="width:75%; " colspan="3">
                    @Html.TextAreaFor(x => x.Remarks, new { @rows = "2", @style = " width :96%; " })
                </td>
            </tr>

            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>

            <tr style=" height: 50px; ">
                <td align="left" style="width:25%; "></td>

                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    <button class="button_cls form-rounded">Submit</button>
                </td>
                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    @Html.ActionLink("Back", "List_Invoice", "Invoice", null, new { @class = "button_cls form-rounded", })
                </td>
                <td align="left" style="width:25%;"></td>
            </tr>

        </table>
    }
</div>


@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>

}





<script type="text/javascript">

    $(document).on("click", ".cssdownload", function (event) {

        var fileID = $(this).attr('id');

        $.ajax({
            type: "POST",
            url: "@Url.Action("Download", "Invoice")",
            data: { fileName: fileID  },
            success: function (r) {
                //Convert Base64 string to Byte Array.
                var bytes = Base64ToBytes(r);

                //Convert Byte Array to BLOB.
                var blob = new Blob([bytes], { type: "application/octetstream" });

                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileID);
                }
                else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = $("<a />");
                    a.attr("download", fileID );
                    a.attr("href", link);
                    $("body").append(a);
                    a[0].click();
                    $("body").remove(a);
                }
            }
        });

      event.preventDefault();
    });

     function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

</script>





@* ----------------------------  Modal -------------------------------*@

<script type="text/javascript">
    $(function () {
        $("#exampleModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('whatever'); // Extract info from data-* attributes
            $("#FileType").val(recipient)
        });
    });
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload New File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input id="myInput" class="form-control" type="file" id="formFile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnFile" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@* ------------------------------------------------------------------ *@

<script type="text/javascript">
    $("body").on("click", "#btnFile", function () {

        var formData = new FormData();
        formData.append("FileType", $("#FileType").val());
        formData.append("fileName", $("#Sanction_FileName").val());
        formData.append("file", $("#myInput")[0].files[0]);

        $.ajax({
            type: "POST",
            url: "/Chapters/Invoice/ReplaceFile",
            data: formData,
            contentType: false,
            processData: false,
            cache: false,
            success: function (r) {
                alert(r);
            }
        });


    });
</script>



