
@model IT_Hardware.Areas.Admin.Models.Mod_POrder


@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
    .hideElement {
        display: none;
    }
</style>

<script src="~/customjs/edit_sla.js"></script>

<script src="~/js/commonjs.js"></script>
<link href="~/css/commoncssclass.css" rel="stylesheet" />

<div style="   text-align: center; height: 50px; align-content: center; width: 100% " class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">

    <p style="font-size:large; font-weight:bold;">Edit Purchase Order</p>

</div>

<div style=" align-content:center; width:100%" class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">


    @using (Html.BeginForm("Update_PO", "Purchase_Order", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        <table class=" table-hover table-striped shadow " style="width:100%">
            <tr>
                <td style="width:25%; ">
                    P.O. No.
                    @Html.HiddenFor(x=>x.PO_id)
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.PO_No, new { @class = " form-rounded", @style = " width :90%; " })
                </td>
                <td style="width:25%;">
                    P.O. Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.PO_Date, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded", @style = " width :90%; " })
                </td>
            </tr>
            <tr>
                <td style="width:25%; ">
                    Subject
                </td>
                <td style="width:75%;" colspan="3">
                    @Html.TextBoxFor(x => x.PO_Subject, new { @class = " form-rounded", @style = " width :90%; " })
                </td>
            </tr>
            <tr>
                <td style="width:25%; height:50px;">
                    P.O. Start Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.PO_ST_Date, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded", @style = " width :90%; " })
                </td>
                <td style="width:25%; height:50px;">
                    P.O Expiary Date
                </td>
                <td style="width:25%;">
                    @Html.TextBoxFor(x => x.PO_End_Date, "{0:dd/MM/yyyy}", new { @class = "dateclass form-rounded", @style = " width :90%; " })
                </td>
            </tr>
            <tr>
                <td style="width:25%; height:50px;">
                    Vendor Name
                </td>
                <td style="width:75%;" colspan="3">
                    @Html.DropDownListFor(x => x.Vendor_id, Model.Vendor_List, new { @class = " form-rounded", @style = " width :60%; " })
                </td>
            </tr>

            <tr>
                <td style="width:25%; height:50px;">
                    Approval Details
                </td>
                <td style="width:75%;" colspan="3">

                    <table style="width:100%">
                        <tr>
                            <td>
                                <table id="tbl_ApprovalList" name="tbl_ApprovalList" style="width:100%; border: 1px solid black;">
                                    <thead>
                                        <tr>
                                            <td style="width:0%; display:none;">
                                                Proposal Id
                                            </td>
                                            <td style="width:90%">
                                                Proposal Details
                                            </td>
                                            <td style="width:10%">
                                                Action
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model.ApprovalList)
                                        {
                                            <tr>
                                                <td style="width:0%; display:none;">
                                                     @Html.HiddenFor(modelItem => item.Proposal_ID)
                                                </td>
                                                <td style="width:90%;">
                                                    @Html.TextBoxFor(modelItem => item.Proposal_Details, new { @style = " width :95%; ",  @readonly = "readonly" })                                                 
                                                </td>
                                                <td style="width:10%">
                                                    <button type="button" class="btn_delete btn_deleterow">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:0%; display:none;">
                                            @Html.HiddenFor(x => x.Proposal_Id)
                                        </td>
                                        <td style="width:90%">
                                            @Html.TextAreaFor(x => x.Approval_Details, new { @rows = "2", @style = " width :95%; " })
                                        </td>
                                        <td style="width:10%">
                                            <input type='submit' value='Add' class='cssdownload btn_delete' id='btn_Approval_Add'>
                                        </td>
                                    </tr>
                                </table>
                            </td>                           
                        </tr>
                    </table>
                    
                </td>
            </tr>         
            
            <tr style=" height: 50px; ">

                <td align="left" style="width:25%; "> Upload File</td>

                <td style="width: 75%;" colspan="3">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width:100%;" colspan="3" class="DelPropFile">
                                <input type="file" name="postedFile" id="FileUpload_Id" />
                                <input type="submit" id="btnFileUpload" class="btn_download" value="Upload" />
                                <progress id="fileProgress" style="display: none"></progress>
                                <span id="lblMessage" style="color: Green"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3" style="height:10px;"></td></tr>
                        <tr>
                            <td>
                                @{
                                    if (Model.PO_File_Id != "")
                                    {
                                      <table id="tbl_File_PO" style="width:100%;">
                                        <tr>
                                            <td style="width:75%; font-weight:bold">File Name</td>
                                            <td style="width: 25%; font-weight: bold"> Download</td>
                                        </tr>
                                        <tr>                                           
                                            <td>                                               
                                                 
                                                    <p>@Model.PO_File_Name </p>
                                                   <input type="hidden" id="PO_File_Id" name="PO_File_Id" value="@Model.PO_File_Id">
                                            </td>
                                            <td>
                                                   <input type='submit' value='Download' class='cssFiledownload btn_download' id='@Model.PO_File_Id' />
                                            </td>
                                        </tr>

                                    </table>
                                    }
                                }
                            </td>

                        </tr>

                    </table>



                </td>
            </tr>

            <tr>
                <td style="width:25%;">
                    P.O. Value
                </td>
                <td colspan="2" style="width:50%;">
                    @Html.TextBoxFor(x => x.PO_Value, new { @class = " form-rounded", @style = " width :90%; " })
                </td>
                <td style="width:25%; height:50px;">
                    <table width="100%">
                        <tr>
                            <td style="text-align:left; width:75%;">
                                In Active
                            </td>
                            <td style="text-align:left; width:25%;">
                                @Html.CheckBoxFor(model => model.InActive, new { @class = " form-rounded", @style = " width :60%; " })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width:25%;">
                    Remarks
                </td>
                <td style="width:75%; " colspan="3">
                    @Html.TextAreaFor(x => x.Remarks, new { @rows = "2", @style = " width :96%; " })
                </td>
            </tr>
            <tr>
                <td style="width:100%; height:10px;" colspan="4">
                </td>
            </tr>
            <tr style=" height: 50px; ">
                <td align="left" style="width:25%; "></td>

                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    <button class="button_cls form-rounded">Submit</button>
                </td>
                <td style="width: 25%; padding-top: 10px; padding-bottom: 5px" align="center">
                    @Html.ActionLink("Back", "PO_Details", "Purchase_Order", null, new { @class = "button_cls form-rounded", })
                </td>
                <td align="left" style="width:25%;"></td>
            </tr>
        </table>
    }
</div>


@if (TempData["Message"] != null && TempData["Message"] != "" && TempData["Message"] != string.Empty)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["Message"]");
    /**/
    };
    </script>
}


@* -----------------------------------------------------  PO File Download  ------------------------------------------------- *@

<script type="text/javascript">

    $(document).on("click", ".cssFiledownload", function (event) {

        var fileID = $(this).attr('id');
      
        $.ajax({
            type: "POST",
            url: "@Url.Action("Download", "Purchase_Order")",
            data: { fileName: fileID  },
            success: function (r) {
                //Convert Base64 string to Byte Array.
                var bytes = Base64ToBytes(r);

                //Convert Byte Array to BLOB.
                var blob = new Blob([bytes], { type: "application/octetstream" });

                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileID);
                }
                else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = $("<a />");
                    a.attr("download", fileID );
                    a.attr("href", link);
                    $("body").append(a);
                    a[0].click();
                    $("body").remove(a);
                }
            }
        });

      event.preventDefault();
    });

    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

</script>

@*------------------------------------ Upload PO File --------------------------------------------------------------*@

<script type="text/javascript">
    
$(function () {

        $('#btnFileUpload').click(function (event) {

            event.preventDefault();

            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload_Id").get(0);
                var files = fileUpload.files;
                var filename = files[0].name;
                var fileId = $("#PO_No").val() +"-"+ $("#PO_Date").val()+ ".pdf";

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                fileData.append('PO_Id', $('#PO_id').val());
                fileData.append('PO_File_Id', fileId);
                fileData.append('PO_File_Name', filename);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Upload_POFile", "Purchase_Order")",                   
                    data: fileData,
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    cache: false,
                    success: function (response) {
                        if (response != null) 
                        {
                            if(response.status >0)
                            {
                                $("#tbl_File_PO TBODY TR").remove();
                                var markup ="<tr> <td style='width:75%; font-weight:bold'>File Name</td> <td style='width: 25%; font-weight: bold'> Download</td></tr>";
                                markup= markup+" <tr>  <td>  <p> "+ filename +" </p> <input type='hidden' id='PO_File_Id' name='PO_File_Id' value="+ fileId +"> </td> ";
                                markup= markup+"<td> <input type='submit' value='Download' class='cssFiledownload btn_download' id='"+ fileId +"' /> </td></tr> ";
                                
                                $("#tbl_File_PO").append(markup);

                                alert("File Uploaded Successfully"); 
                            }
                            else
                            {
                                alert("File not Uploaded"); 
                            }
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
            event.preventDefault();
        });
    });

</script>



@* //---------------------------------------  Auto Complete  --------------------------------------------------------------------------- *@
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript">
    $('#Approval_Details').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("AutoComplete", "Purchase_Order")",
                data: {SL_No: request.term},
                dataType: "json",
                type: "POST",
                // contentType: "application/json; charset=utf-8",
                success: function (data) {
                    response($.map(data, function (item) {
                        return   item.item_Id + '--' + item.item_SL_Number ;

                    }))
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log('some error occured', textStatus, errorThrown);
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            
            $('#Proposal_Id').val(ui.item.label.split('--')[0]);
            $('#Approval_Details').val(ui.item.value.split('--')[1]);

            return false;
        }
    });
</script>


@* //----------------------------------------------------- Approval Details ----------------------------------------------------------------- *@


<script type="text/javascript">
    $(document).ready(function () {
        let rowIndex = 0;

        $("#btn_Approval_Add").click(function (event) {
            event.preventDefault();

            const proposalId = $('#Proposal_Id').val();
            const proposalDetails = $('#Approval_Details').val();

            const newRow = `
                <tr>
                    <td style="width:0%; display:none;">
                        <input type="hidden"   name="ApprovalList[${rowIndex}].Proposal_ID" value="${proposalId}" />
                        ${proposalId}
                    </td>
                    <td style="width:90%;">
                        <input type="text" readonly style="width:95%;" name="ApprovalList[${rowIndex}].Proposal_Details" value="${proposalDetails}" />
                    </td>
                    <td>
                        <button type="button" class="btn_delete btn_deleterow">Delete</button>
                    </td>
                </tr>
            `;

            $('#tbl_ApprovalList tbody').append(newRow);
            rowIndex++;

            // Clear input fields
            $('#Proposal_Id').val('');
            $('#Approval_Details').val('');
        });
    });


    $(document).on('click', '.btn_deleterow', function () {
        $(this).closest('tr').remove();
        reindexApprovalRows(); // Recalculate indices after deletion
    });


    function reindexApprovalRows() {
        $('#tbl_ApprovalList tbody tr').each(function (index) {
            $(this).find('input[name^="ApprovalList"]').each(function () {
                const name = $(this).attr('name');
                const newName = name.replace(/\[\d+\]/, `[${index}]`);
                $(this).attr('name', newName);
            });
        });
    }

</script>



 <script type="text/javascript">  
    $(document).ready() 
    {
        var SameUser =  "@ViewBag.SameUser" ;
        if (SameUser  !="Yes")
        {
              $(".DelPropFile").addClass("hideElement");
        }        
    };
</script>