@using IT_Hardware.Areas.Admin.Models
@model AssetInfo_Model



<link href="~/CSS/SearchBox/searchbox.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>


<div style="text-align: center; height: 50px; align-content: center; width: 100% " class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">
    <p style="font-size:large; font-weight:bold;">Detail Information of the Asset</p>
</div>

<div style=" align-content:center; width:100%" class="h-10 w-100 shadow p-1 mb-1 bg-white rounded">
    <table class=" table-hover table-striped shadow " style="width:100%">      
        <tr>
            <td colspan="2">
                <table class=" table-hover table-striped shadow " style="width:100%" >
                    <tr>
                        <td style="width:20%; font-weight: bold;">
                            Asset Type
                        </td>
                         <td style="width:30%">
                             @Html.DisplayFor(x => x.Asset_Type)
                        </td>
                        <td style="width:20%; font-weight: bold;">
                            Serial No
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.Asset_SerialNo)
                        </td>
                    </tr>
                     <tr>
                        <td style="width:20%; font-weight: bold;">
                            Make
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.Make)
                        </td>
                        <td style="width:20%; font-weight: bold;">
                            Model
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.Model)
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%; font-weight: bold;">
                            Procuremt Date
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.Procuremt_Date, "{0:dd/MM/yyyy}")
                        </td>
                        <td style="width:20%; font-weight: bold;">
                            Warranty End Date
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.Warranty_End_Date, "{0:dd/MM/yyyy}")
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%; font-weight: bold;">
                            Asset Value
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.Asset_Value)
                        </td>
                        <td style="width:20%; font-weight: bold;">
                            Vender Name 
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.VenderName)
                        </td>
                    </tr>
                     <tr>
                        <td style="width:20%; font-weight: bold;">
                            PO No
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.PO_No)
                        </td>
                        <td style="width:20%; font-weight: bold;">
                            PO Date 
                        </td>
                         <td style="width:30%">
                            @if(Model.PO_Date?.ToString("dd/MM/yyyy") != "01/01/2000" )
                            {             
                                @Html.DisplayFor(x => x.PO_Date, "{0:dd/MM/yyyy}")
                            }
                        </td>
                    </tr>
                     <tr>
                        <td style="width:20%; font-weight: bold;">
                            PO Value
                        </td>
                         <td style="width:30%">
                            @Html.DisplayFor(x => x.PO_Value)
                        </td>
                        <td style="width:20%">
                             
                        </td>
                         <td style="width:30%">
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="50px"></td>
        </tr>
        <tr>
            <td colspan="2">

                <table  class="table-hover table-striped shadow " style="width:100%">
                      <tr>
                        <td Colspan="3" style="text-align: center; font-weight: bold;" >
                            Asset Isssue History
                        </td>
                        <td style="font-weight-bold">
                             @Html.ActionLink("Transfer", "Item_Issue_Create_Item", "Item_Issue",  new { AssetId = Model.Asset_Id }, new { @style="font-weight-bold;" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Issue Date
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Department
                        </th>                   
                    </tr>

                    @foreach (var item1 in Model.ShiftingHistory)
                    {
                        if (item1.Issued_date > DateTime.Now)
                        {
                             <tr><td colspan="4" style="text-align: center; color: red;">
                                Item has not been Issued as on date. </td></tr>

                                break;
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item1.Issued_date, "{0:dd/MM/yyyy}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item1.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item1.Designation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item1.Department)
                                </td>                           
                            </tr>
                        }
                    }

                </table>

            </td>

        </tr>
        <tr>
            <td colspan="2" height="50px"></td>
        </tr>
        <tr>
            <td colspan="2">

                <table  class=" table-hover table-striped shadow " style="width:100%">
                    <tr>
                        <td Colspan="3" style="text-align: center; font-weight: bold;">
                            Asset Service History
                        </td>  
                        <td  style="text-align: center; font-weight-bold; ">
                            @Html.ActionLink("Raise Issue", "RaiseIssue", "QRCode",  new { Id = Model.Asset_Id, type="New" }, new {@class = "form-rounded", @style="font-weight-bold;" })
                        
                        </td>     
                    </tr>
                    <tr>
                        <th style="width:15%">
                            Issue Date
                        </th>                     
                         <th style="width:60%">
                            Issue Detail
                        </th>                        
                        <th style="width:15%">
                            Resolve Date
                        </th>    
                        <th style="width:10%">
                            Action
                        </th>
                    </tr>

                    @foreach (var item1 in Model.ServiceHistory)
                    {
                        if (item1.Issue_Create_Date > DateTime.Now)
                        {
                             <tr><td colspan="4" style="text-align: center; color: green; ">
                                There is no issue mark against this Asset as on date. </td></tr>

                                break;
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item1.Issue_Create_Date, "{0:dd/MM/yyyy}")
                                </td>                              
                                <td>
                                    @Html.DisplayFor(modelItem => item1.IssueInfo)
                                </td>                               
                                <td>
                                    
                                    @if(item1.Issue_Resolve_Date?.ToString("dd/MM/yyyy") != "01/01/2000" )
                                    {
                                        @Html.DisplayFor(modelItem => item1.Issue_Resolve_Date, "{0:dd/MM/yyyy}")
                                    }
                                    
                                </td>  
                                <td>
                                    @if((item1.Resolved ?? false) != true )
                                    {
                                        @Html.ActionLink("Update", "RaiseIssue", "QRCode",  new { Id = item1.Issue_Id, type="Update" }, new {@class = " form-rounded"})                      
                                    }
                                    else
                                    {
                                        <span class="text-success ">Resolved</span> 
                                    }
                                 </td>
                            </tr>
                        }                       
                    }
                </table>

            </td>

        </tr>

    </table>
</div>
